<footer>
    <div class="footer">
        <a href="">Important links of our resources and particulars &#x2192;</a>
        <div class="box">
            <div class="box1 ml1">
                Tools
                <ul>
                    <li>Online IDE's</li>
                    <li>Upcomming Programming Contests</li>
                    <li>Host Contest</li>
                    <li>User Ranks</li>
                </ul>
            </div>
            <div class="box2 ml">
                Partners
                <ul>
                    <li>Sponsors</li>
                    <li>Professional Hiring</li>
                    <li>Top Recruitments</li>
                    <li>Recruits Freshman's</li>
                </ul>
            </div>
            <div class="box3 ml ml3">
                About
                <ul>
                    <li>Contact Us</li>
                    <li>Our Team</li>
                    <li>Terms and Conditions</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footerbar">
        @Copyright all rigths are reserved

        <div class="footerIcons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>