<div class="navbarContainer">
  <nav>
    <div class="logo">
      <a href="#">
        <img src="../../assets/logo.png" alt="">
      </a>
    </div>
    <div class="navComponents">
      <ul class="navbarList">
        <li class="navItem"><a href="/practice" routerLink="/practice"> Practice</a></li>
        <li class="navItem"><a href="#game"> Games</a></li>
        <li class="navItem"><a href="#challengeAFriend"> Challenge</a></li>
        <li class="navItem"><a href="#aboutUs"> About Us</a></li>
      </ul>

      <div class="user" routerLink="/login">Login / Signup</div>
    </div>
  </nav>
</div>