<app-navbar></app-navbar>
<div class="mainContent">
    <div class="practiceHeader">
        All Practice Problems
    </div>

    <div class="practiceContent">
        <div class="practiceSidebar">
            Practice SideBar
        </div>

        <div class="practiceMainContent">
            <h4>Problems</h4>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Submissions</th>
                        <th scope="col">Difficult</th>
                        <th scope="col">Contest Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">START01</th>
                        <td>LUDO</td>
                        <td>18000</td>
                        <td>200</td>
                        <td>START01</td>
                    </tr>
                    <tr>
                        <th scope="row">START01</th>
                        <td>LUDO</td>
                        <td>18000</td>
                        <td>200</td>
                        <td>START01</td>
                    </tr>
                    <tr>
                        <th scope="row">START01</th>
                        <td>LUDO</td>
                        <td>18000</td>
                        <td>200</td>
                        <td>START01</td>
                    </tr>
                    <tr>
                        <th scope="row">START01</th>
                        <td>LUDO</td>
                        <td>18000</td>
                        <td>200</td>
                        <td>START01</td>
                    </tr>
                    <tr>
                        <th scope="row">START01</th>
                        <td>LUDO</td>
                        <td>18000</td>
                        <td>200</td>
                        <td>START01</td>
                    </tr>
                    <tr>
                        <th scope="row">START01</th>
                        <td>LUDO</td>
                        <td>18000</td>
                        <td>200</td>
                        <td>START01</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>