<app-navbar></app-navbar>

<div class="mainContainer">
  <div class="carouselContainer">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img1.webp" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../assets/img2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../assets/img3.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="learnContainer">
    <div class="containerTitle">Learn</div>

    <div class="learnCarousel">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active siz">
            <div id="set1">
              <img src="../../assets/python.png" class="d-block" />
              <img src="../../assets/c.png" class="d-block" />
              <img src="../../assets/java.png" class="d-block" />
              <img src="../../assets/nodejs.png" class="d-block" />
            </div>
          </div>
          <div class="carousel-item siz">
            <div id="set1">
              <img src="../../assets/html.png" class="d-block" />
              <img src="../../assets/angular.png" class="d-block" />
              <img src="../../assets/reactjs.png" class="d-block" />
            </div>
          </div>
          <div class="carousel-item siz">
            <div id="set1">
              <img src="../../assets/html.png" class="d-block" />
              <img src="../../assets/angular.png" class="d-block" />
              <img src="../../assets/reactjs.png" class="d-block" />
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev" style="left: -150px">
          <span class="icon" aria-hidden="true">
            <i class="fa-solid fa-chevron-left" style="font-size: 40px; color: black"></i>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next" style="right: -150px">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <i class="fa-solid fa-chevron-right" style="font-size: 40px; color: black"></i>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="playContainer">
    <div class="containerTitle">Play</div>

    <div class="learnCarousel">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active siz">
            <div id="set1">
              <img src="../../assets/python.png" class="d-block" />
              <img src="../../assets/c.png" class="d-block" />
              <img src="../../assets/java.png" class="d-block" />
              <img src="../../assets/nodejs.png" class="d-block" />
            </div>
          </div>
          <div class="carousel-item siz">
            <div id="set1">
              <img src="../../assets/html.png" class="d-block" />
              <img src="../../assets/angular.png" class="d-block" />
              <img src="../../assets/reactjs.png" class="d-block" />
            </div>
          </div>
          <div class="carousel-item siz">
            <div id="set1">
              <img src="../../assets/html.png" class="d-block" />
              <img src="../../assets/angular.png" class="d-block" />
              <img src="../../assets/reactjs.png" class="d-block" />
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev" style="left: -150px">
          <span class="icon" aria-hidden="true">
            <i class="fa-solid fa-chevron-left" style="font-size: 40px; color: black"></i>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next" style="right: -150px">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <i class="fa-solid fa-chevron-right" style="font-size: 40px; color: black"></i>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


  <!-- COMPETITION -->

  <div class="competitionContainer">
    <div class="containerTitle">Competition</div>

    <div class="tableContainer">
      <div class="table">
        <table>
          <tr>
            <th style="width: 100px;">No.</th>
            <th style="width: 700px;">Games</th>
            <th style="width: 100px; text-align: center;">Rewards</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Game 1</td>
            <td style="text-align: center;">5&#9733;</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Game 2</td>
            <td style="text-align: center;">5&#9733;</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Game 3</td>
            <td style="text-align: center;">9&#9733;</td>
          </tr>

        </table>
      </div>
    </div>

  </div>


  <!-- CHALLENGE A FRIEND -->

  <div class="challengeContainer">
    <div class="containerTitle">Challenge A Friend</div>

    <div class="challenge">
      <div class="block">
        <i class="fa-solid fa-user-plus" style="font-size: 60px; color: #2A2939;"></i>
      </div>
      <div class="block">
        <i class="fa-solid fa-plus" style="font-size: 65px; color: #2A2939;"></i>
      </div>
    </div>

  </div>

  <!-- ABOUT US -->

  <div class="aboutContainer">
    <div class="containerTitle">About Us</div>

    <div class="contentContainer">
      <p>Code a Game to Play</p>
      <p>Play a Game to Code</p>
    </div>
  </div>

  <footer>
    <div class="footer">
      This the to footer Of Out Company
    </div>
  </footer>

</div>